.container {
  padding: 0 5%;
  margin: auto;
  max-width: 1280px;
}

.main {
  min-height: calc(100vh - var(--nav-bar-height));
  padding: 4rem 0;
  flex: 1;
  display: flex;
  height: auto;
}

.main > *:first-child {
  width: fit-content;
}

.mainContent {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
}

.mainContent p {
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

.mainContent div {
  line-height: 1.5;
  font-size: 1.2rem;
}

.title .blue {
  color: #0070f3;
  text-decoration: none;
}

.title {
  position: relative;
  margin: 10px;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.left > h1 {
  text-align: start;
}

.right > h1 {
  text-align: end;
}

.center > h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  margin: 20px 0;
  color: gray;
  font-style: italic;
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
  }
  .mainContent {
    margin-left: 30px;
    padding: 0;
  }
  .mainContent p {
    font-size: 1.5rem;
  }
  .mainContent div {
    font-size: 1.5rem;
  }
}
