:root {
  --nav-bar-height: 4rem;

  /* colours */
  --brand-color: #fff59a;
  --brand-color-hover: #f5e97d;
  --border-color-theme-dark: rgb(51, 51, 51);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #2b2e30;
  }
}
